* {
    box-sizing: border-box;
}
a {
    text-decoration: underline dotted;
    color: #0B2029;
    font-weight: bold;
}
a:hover {
    text-decoration: none;
    color: #234648;
}
body {
    display: flex;
    padding: 44px;
    background-color: #599697;
    justify-content: center;
    gap: 8px;
    align-items: center;
    background-image: url("art/bgbeats.gif");
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12px;
}
.content {
    width: 544px;
    height: 432px;
    background-color: #FEF0CB;
    overflow: auto;
    padding: 22px;
    border: 1px dotted #599697;
    box-shadow: 0 0 6px 2px #FEF0CB;
    background-image: url("art/bgpoints.png");
}
.content img {
    max-width: 80%;
}
h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 16px;
    font-style: italic;
    color: #016541;
}
h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 16px;
    font-style: italic;
    color: #542C02;
}
h3 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 14px;
    font-style: italic;
    color: #234648;
}
.hide {
    display: none;
}
.hide:target {
    display: block;
}
.nav {
    width: 222px;
    height: 432px;
    background-color: #FEF0CB;
    overflow: auto;
    padding: 44px;
    border: 1px dotted #599697;
    box-shadow: 0 0 6px 2px #FEF0CB;
    background-image: url("art/bgpoints.png");
}
ul {
    list-style-image: url("art/tinybu.gif");
}