* {
    box-sizing: border-box;
}
a {
    color: #1c4758;
    text-decoration: none;
    font-weight: bold;
}
#art img {
    max-width: 300px;
    max-height: 300px;
    border: 3px double #1c4758;
    background-color: #9e8a7b;
    margin: 28px;
}
#bee {
    background-attachment: fixed, scroll, scroll, scroll;
    background-image: url("art/bgbeer.png"), url("art/bgbubb.gif"), url("art/bgbubye.gif"), url("art/bgbubs.png");
    color: white;
    padding: 44px;
}
#bee .flexwra {
    gap: 33px;
}
#bee img {
    float: left;
    padding: 22px;
}
#bee .lilbig {
    background-color: #6F5846;
    border: 6px ridge #DCC19A;
}
#bee .med {
    background-color: #6F5846;
    border: 6px ridge #DCC19A;
}
#bee p {
    background-color: #6F5846;
}
#bee strong {
    color: #f8c1ac;
}
body {
    display: flex;
    padding: 0;
    margin: 0;
    font-size: 14px;
    font-family: 'Courier New', Courier, monospace;
}
.book {
    float: left;
    padding: 10px;
}
.cent {
    text-align: center;
}
.content {
    margin-left: 442px;
}
.flecent {
    align-items: center;
}
.flexbo {
    display: flex;
    gap: 8px;
    justify-content: center;
}
.flexwra {
    display: flex;
    gap: 16px 16px;
    justify-content: center;
    flex-wrap: wrap;
}
#gar h1 {
    margin: 32px auto;
}
#gar h3 {
    text-align: center;
}
#gar hr {
    margin: 42px auto;
    max-width: 400px;
    border-top: 1px dashed #1f5330;
    border-bottom: 0;
}
#gar .lilbig {
    background-color: #d3b8a4;
    margin: auto;
    border: 1px dashed #1c212c;
    border-radius: 8px;
}
#gar .lil img {
    max-width: 100%;
    border: 1px solid #ebeaa4;
}
#gar .med {
    margin: 12px auto;
}
#gar .medlarg {
    text-align: center;
    background-image: url("art/woodsmarch.JPG");
    background-size: cover;
    box-shadow: 0 0 18px 28px inset #0c110b, 0 0 18px 28px #0c110b;
    margin: auto;
    border-radius: 82px;
}
#gar .medlarg img {
    max-width: 242px;
    max-height: 242px;
    padding: 62px;
}
#gar .medlarg img:hover {
    transform: rotate(8deg);
}
h1 {
    color: #940836;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
h2 {
    color: #18305c;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
h3 {
    color: #5c2f46;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
h4 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #dfd2b8;
    font-size: 14px;
}
h5 {
    border-top: 1px dotted #940836;
    font-size: 16px;
    color: #205d75;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.heig {
    height: 200px;
    overflow: auto;
}
.hide {
    display: none;
}
.hide:target {
    display: block;
}
img {
    vertical-align: middle;
}
#jou .med {
    background-color: #FDFDF9;
    border: 3px double #FBC28F;
    margin: 12px auto;
}

#kit h3 {
    text-align: center;
    font-size: 16px;
}
#kit h4 {
    color: #18305c;
}
#kit .lil {
    border: 2px dashed #205d75;
}
#kit ul {
    list-style-image: url("art/tinierpumpkin.png");
}
#kit li {
    margin-top: 8px;
}
.larg {
    width: 860px;
    padding: 18px;
}
#lib em {
    color: #18305c;
}
#lib h2 {
    text-align: center;
}
#lib .lil {
    background-image: url("art/bgtan.png");
    border-radius: 4px;
    border: 1px dashed #6F5846;
}
#lib .lilbig {
    background-image: url("art/bgtan.png");
    border-radius: 4px;
    border: 1px dashed #6F5846;
}
#lib .med {
    background-image: url("art/bgtan.png");
    border-radius: 4px;
    border: 1px dashed #6F5846;
    margin: auto;
}
#lib ul {
    list-style-image: url("art/tinybook.png");
}
.lil {
    width: 255px;
    overflow: auto;
    padding: 6px;
    scrollbar-color: #494e3f #bdbbb7;
    scrollbar-width: thin;
}
#lis ul {
    list-style-image: url("art/tinblst.gif");
}
.lilbig {
    width: 322px;
    overflow: auto;
    padding: 16px;
    scrollbar-color: #576268 #bdbbb7;
    scrollbar-width: thin;
}
.med {
    width: 574px;
    padding: 12px;
}
.medlarg {
    width: 700px;
    padding: 12px;
}
.nav {
    width: 400px;
    background-image: url("art/bgpurp.png");
    position: fixed;
    min-height: 100%;
    padding: 22px;
    border-right: 3px double #205d75;
}
.nav a {
    text-decoration: none;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 14px;
}
summary {
    cursor: pointer;
    color: #1c4758;
    text-decoration: none;
    font-weight: bold;
    padding: 4px;
}
@media screen and (max-width: 900px) {
    #art img {
        max-width: 100%;
        max-height: 800px;
        margin: auto;
   }
    #bee {
        padding: 2px;
        width: 99%;
   }
    #bee .flexwra {
        gap: 12px;
   }
    body {
        display: block;
   }
    .flexbo {
        display: flex;
        flex-wrap: wrap;
        gap: 2px;
   }
    .heig {
        height: auto;
   }
    #hom {
        width: 100%;
        height: auto;
   }
    img {
        max-width: 80%;
        max-height: 80%;
   }
    #jou {
        width: 100%;
        padding: 2px;
   }
    #kit {
        width: 100%;
        padding: 2px;
   }
    .larg {
        width: 100%;
        padding: 2px;
   }
    .lil {
        width: 100%;
        padding: 2px;
   }
    .lilbig {
        padding: 2px;
        width: 100%;
   }
    #lis {
        padding: 2px;
   }
    .med {
        padding: 2px;
        width: 100%;
   }
    .medlarg {
        width: 100%;
   }
    .nav {
        width: 100%;
   }
    .nav li {
        display: inline;
        padding-right: 10px;
   }
}
