body {
     background-color: #D7CAAF;
     background-image: url("art/bgtan.png");
     background-attachment: fixed;
     text-align: center;
     color: #141319;
     padding: 4px;
     font-family: Arial, Helvetica, sans-serif;
     font-size: 14px;
}
 .content {
     margin: auto;
     text-align: center;
     padding: 10px;
}
 img {
     max-width: 100%;
}
 .header {
     margin: 4px auto;
}
 .nav {
     max-width: 600px;
     padding: 8px;
     margin: 14px auto;
     text-align: center;
     font-size: 18px;
}
a {
    color: #01313f;
    text-decoration: underline #0f467a;
}

 a:hover {
     color: #61041b;
     text-decoration: none;
}
 .hide {
     display: none;
}
 .hide:target {
     display: block;
}
 .gallery {
     display: flex;
     flex-wrap: wrap;
     justify-content: center;
     align-items: center;
     gap: 15px;
}
 h1 {
     color: #61041b;
     font-size: 22px;
     margin: 16px auto;
     font-family: Georgia, 'Times New Roman', Times, serif;
}
 h2 {
     color: #0d243a;
     font-size: 22px;
     margin: 32px auto;
     font-family: Georgia, 'Times New Roman', Times, serif;
}
 .frame {
     border: 1px double #01313f;
     max-width: 400px;
}
 .comput {
     max-width: 900px;
     border: 1px solid #0d243a;
     background-image: url("art/bgflwr.png");
     margin: auto;
     background-attachment: fixed;
}
.forest {
    background-image: url("art/forest.png");
    max-width: 482px;
    height: 643px;
    margin: auto;
    border: 1px solid #0d243a;
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
 .art {
     max-width: 100%;
     display: block;
     margin: auto;
}
 .words {
     max-width: 350px;
     margin: 4px auto;
     text-align: center;
}

.tooltip {
    padding: 8px;
}
  
  .tooltip .tooltiptext {
    visibility: hidden;
    background-color: #141319;
    color: #EEB0E2;
    text-align: center;
    padding: 2px;
    border: 1px solid #EEB0E2;
    font-size: 10px;
    margin: auto -40px;
    display: inline-block;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }