body {
     background-image: url("artexp/artbg.png");
     background-attachment: fixed;
     text-align: center;
}
 .content {
     margin: auto;
     text-align: center;
     padding: 10px;
}
 .header {
     font-family: "Parisienne", "Times New Roman", serif;
     font-size: 48px;
     color: white;
     background-image: url("artexp/headimg.png");
     background-repeat: no-repeat;
     text-align: center;
     min-height: 225px;
     max-width: 474px;
     background-size: contain;
     margin: auto;
}
 .gallery {
     display: flex;
     flex-wrap: wrap;
     justify-content: center;
     align-items: center;
     gap: 15px;
}
 h1 {
     color: Teal;
     font-family: "Mukta", "Colibri", sans-serif;
     font-size: 22px;
}
 .frame {
     border: 10px solid;
     border-image: url(artexp/plain.png) 10 round;
     padding: 5px;
     margin: 5px;
}
 .art {
     max-width: 100%;
     display: block;
}
 .words {
     background-color: Wheat;
     font-family: "Mukta", "Colibri", sans-serif;
     color: DarkSlateGray;
     font-size: 14px;
     max-width: 350px;
     border: 6px double Teal;
     padding: 9px;
     text-align: center;
}

 @media only screen and (max-width: 600px) {
     .art {
         max-width: 100%;
    }
}
 
