
body {
  background-image: url('artexp/artbg.png');
  background-attachment: fixed; 
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evently;
  align-items: center;
}

h1 {
  color: DarkSlateGray;
}

.words {
  background-color: Wheat;
  font-family: "Mukta", "Colibri", sans-serif;
  color: black;
  font-size: 13px;
}
