* {
    box-sizing: border-box;
}
a {
    color: #D9E7F9;
    text-decoration: underline dotted #F8E6E6;
    font-weight: bold;
}
a:hover {
    text-decoration: none;
    color: #F8E6E6;
}
#art img {
    max-width: 200px;
    max-height: 200px;
    border: 3px ridge #B47855;
}
#bee {
    background-image: url("art/bgbubb.gif");
    background-attachment: fixed;
}
#bee img {
    float: left;
    padding: 2px;
}
#bee p {
    background-color: #3f3941;
}
#bee ul {
    list-style-image: url("art/tinierpumpkin.png");
}
body {
    background-color: #3f3941;
    display: flex;
    gap: 22px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 22px;
    font-size: 12px;
}
.content {
    width: 644px;
    border-top: 4px ridge #FDD0BC;
    border-bottom: 4px ridge #FDD0BC;
    height: 466px;
    overflow: auto;
    text-align: center;
    color: #eaf0f3;
    padding: 18px;
}
details {
    text-align: left;
}
.flecent {
    align-items: center;
}
.flexbo {
    display: flex;
    gap: 10px;
    justify-content: center;
}
.flexwra {
    display: flex;
    gap: 12px 12px;
    justify-content: center;
    flex-wrap: wrap;
}
h1 {
    color: #A2E6E3;
}
h3 {
    color: #F9C9A9;
}
h4 {
    text-align: left;
    border-bottom: 2px dotted #f35757;
}
h5 {
    border-bottom: 2px dotted #A2E6E3;
}
.heig {
    max-height: 200px;
    overflow: auto;
}
.hide {
	display: none;
}
.hide:target {
    display: block;
    padding-top: 22px;
}
#hom {
    margin-bottom: 88px;
}
#hom ul {
    list-style-image: url("art/tinblst.gif");
}
#jou {
    height: 100vh;
}
#kit ul {
    list-style-image: url("art/tinierpumpkin.png");
}
#kit li {
    margin-top: 8px;
}
.lil {
    width: 272px;
    overflow: auto;
    padding: 6px;
}
#lis img {
    max-height: 122px;
    max-width: 122px;
}
.margaut {
    margin: auto;
}
.nav {
    width: 200px;
    height: 466px;
    padding: 18px;
}
summary {
    color: #D9E7F9;
    text-decoration: underline dotted #F8E6E6;
    cursor: pointer;
    text-align: left;
    padding: 4px;
    font-weight: bold;
}
summary:hover {
    text-decoration: none;
    color: #F8E6E6;
}
table {
    text-align: left;
}
td {
    padding: 4px;
}
ul {
    text-align: left;
    list-style-image: url("art/lilflo.gif");
}