* {
    box-sizing: border-box;
}
body {
    display: flex;
    gap: 8px;
}
.card {
    max-width: 50%;
}
.form {
    width: 50%;
}

iframe {
    width: 95%;
    min-height: 660px;
}
img {
    max-width: 90%;
}
