* {
    box-sizing: border-box;
}
a {
    text-decoration: none;
    color: #febadb;
}
a:hover {
    text-decoration: none;
    color: #c3ecf9;
}
#art img {
    max-width: 200px;
    margin: 48px;
    box-shadow: 0 0 4px 2px #b8baba;
}
body {
    display: flex;
    padding: 44px;
    background-color: #655756;
    justify-content: center;
    gap: 18px;
    align-items: center;
    font-size: 13px;
    text-align: center;
    color: white;
}
.content {
    overflow: auto;
    padding: 22px;
    scrollbar-width: thin;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 622px;
    height: 500px;
    border: 1px dashed #f6b599;
    box-shadow: 0 0 18px 4px #c3ecf9;
}
.flecent {
    align-items: center;
}
.flexb {
    display: flex;
    justify-content: center;
    gap: 12px;
    flex-wrap: wrap;
}
h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 16px;
    font-style: italic;
    color: #daebe8;
    font-weight: normal;
}
h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 16px;
    font-style: italic;
    color: #82c4fd;
    font-weight: normal;
}
h3 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 14px;
    font-style: italic;
    color: #ffb89a;
    font-weight: normal;
}
.hide {
    display: none;
}
.hide:target {
    display: block;
}
hr {
    border-bottom: 1px dashed #684f4e;
    border-top: 0;
    max-width: 400px;
    margin: 78px auto;
    box-shadow: 0 0 4px 2px #f6b599;
}
#kit ul {
    list-style-image: url("art/tinierpumpkin.png");
}
li {
    padding: 4px;
}
#lib ul {
    list-style-image: url("art/tinybook.png");
}

#lis ul {
    list-style-image: url("art/tinylight.gif");
    margin: 0;
    padding: 14px;
}
.med {
    width: 460px;
    margin: auto;
}
.nav {
    width: 222px;
    overflow: auto;
    padding: 44px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: 1px dashed #f6b599;
    height: 500px;
    box-shadow: 0 0 18px 4px #c3ecf9;
}
p {
    margin: 22px auto;
}
.sml {
    width: 220px;
    padding: 6px;
    overflow-y: auto;
    scrollbar-width: thin;
}
summary {
    cursor: pointer;
}
ul {
    list-style-image: url("art/tinybu.gif");
    text-align: left;
}
#woo img {
    max-height: 100px;
}

@media only screen and (max-width: 700px) {
    #art img {
        max-width: 99%;
        margin: auto;
    }
    body {
        flex-wrap: wrap;
        padding: 2px;
    }    
    .content {
        width: 99%;
        height: auto;
    }
    .med {
        width: 100%;
    }
    .nav {
        width: 99%;
        height: auto;
        padding: 2px;
    }
    .nav li {
        display: inline;
    }
    .sml {
        width: 100%;
    }
}