* {
    box-sizing: border-box;
}

a, summary {
    color: #064568;
    text-decoration: underline;
}

a:hover, summary:hover {
    color: #035d8d;
    text-decoration: none;
}

body {
    background-image: url("art/bgblue.png");
    text-align: center;
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

button {
    margin: 2px;
    padding: 8px;
    background-image: url("art/bgleaves.jpg");
    border: 4px solid #B2A37A;
    border-radius: 4px;
}
#content {
    overflow: hidden;
    border: 30px solid transparent;
    border-image: url("art/borderstick.png") 50 round;
    border-image-outset: 18px;
    padding: 4px 22px;
}

h1, h2 {
    border-bottom: 30px solid transparent;
    border-image: url("art/borderstround.png") 50 round;
    max-width: 444px;
    margin: auto;
}

#headimage {
    background-image: url("art/rousseaurepast.png");
    height: 370px;
    max-width: 880px;
    background-size: cover;
    border: 30px solid transparent;
    border-image: url("art/borderstick.png") 50 round;
    border-image-outset: 18px;
    background-origin: border-box;
}

.hide {
    display: none;
}

.hide:target {
    display: block;
}

hr {
    border: 0;
    margin: 32px auto;
}

img {
    max-width: 100%;
    vertical-align: middle;
}

li {
    list-style-image: url("art/tinyshrm.gif");
}

#middle {
    max-width: 880px;
    margin: auto;
    background-image: url("art/bgwhite.jpg");
}

#nav a {
    color: #dbd2b8;
    text-decoration: none;
    font-size: 16px;
}

#nav a:hover {
    color: #f7d066;
}

.pix {
    flex-shrink: 0;
    padding: 8px;
}

.shelf {
    display: flex;
    background-image: url("art/bgbluegeo.png");
    border: 4px solid #B2A37A;
    padding: 12px;
    margin: 12px auto;
    max-width: 540px;
    gap: 12px;
    align-items: center;
}

summary {
    cursor: pointer;
}

ul {
    text-align: left;
}