
* {
    box-sizing: border-box;
}
a, summary {
    color: #FF8839;
    text-decoration: none;
}
a:hover, summary:hover {
    color: #B0D62A;
}

#abo li {
    list-style-image: url("art/tinblst.gif");
}

.animals {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 8px auto;
}
#art img, #mtl img {
    margin: 24px;
    border: 5px ridge #a77047;
    max-height: 86vh;
}

.beerpix {
    flex-shrink: 0;
    padding: 2%;
}

.beers {
    display: flex;
    margin: 16px auto;
    justify-content: center;
    align-items: center;
}

body {
    overflow: hidden;
    background-image: url("art/bgflwer.jpg");
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    background-color: #ECD4A6;
    background-repeat: no-repeat;
    font-size: 18px;
}
.container {
    display: flex;
    justify-content: center;
    overflow: hidden;
    height: 90vh;
    margin: 2% 15%;
    background-color: #2E2C27;
    color: #F8FBFC;
    background-image: url("art/bgdkflwer.jpg");
    background-attachment: fixed;
}

.content {
    overflow-x: hidden;
    overflow-y: auto;
    padding: 4% 8%;
}

.foodlists {
    display: flex;
    justify-content: center;
    gap: 16px;
}

h1, h2, h3 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    color: #FDD7C6;
}
.hide {
    display: none;
    margin: 100px auto;
}
.hide:target {
    display: block;
}

#hom em {
    padding-right: 2%;
}
#hom li {
    list-style-image: url(art/tinybu.gif);
    margin: 1%;
    padding: 2px;
}
hr {
    border: 0;
    margin: 40px auto;
    max-width: 300px;
}

img {
    max-width: 90%;
    vertical-align: middle;
}
#jou em, #kit em {
    color: #F8FBFC;
}
#kit li {
    list-style-image: url("art/tinierpumpkin.png");
}
#lin li {
    list-style-image: url("art/lilflo.gif");
}

.listholder {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 12px;
}
.lists {
    padding: 2%;
}

.lists li {
    list-style-image: url("art/tinylight.gif");
}

.nav {
    max-height: 90vh;
    overflow-y: auto;
    overflow-x: hidden;
    min-width: 22%;
    padding: 4%;
}

.nav li {
    list-style-image: url("art/tinyshrm.gif");
}

.nav ul {
    margin-top: 28%;
}

summary {
    cursor: pointer;
    text-align: left;
    margin: 2px auto;
}

ul {
    text-align: left;
}

.woods {
    max-width: 34%;
    margin: 12px;
    border: 5px ridge #a77047;
}

@media only screen and (max-width: 800px) {
   
    .beers, .animals {
        flex-wrap: wrap;
    }
    body {
        overflow: auto;
    }
    .container {
        flex-wrap: wrap;
        overflow-y: auto;
        margin: 0;
        height: auto;
    }

    .foodlists {
        flex-wrap: wrap;
    }
    .nav li {
        display: inline;
        min-width: none;
    }
    .nav ul {
        margin-top: auto;
    }
}
