* {
    box-sizing: border-box;
}

a, summary {
    color: #f5cb50;
    text-decoration: none;
}

.abinner {
	padding: 18px;
	background-color: #2B1D1D;
}

.abouter {
	background-image: url("art/bgbluegold.png");
	padding: 32px;
	border: 2px dotted #FADA77;
	border-radius: 4px;
	max-width: fit-content;
	margin: auto;
	outline: 2px dotted #FADA77;
	outline-offset: -34px;
}

.artimg img, #pho img, .woods img {
	background-color: #452E29;
    border: 3px double #918474;
	padding: 8px;
    max-width: 228px;
    margin: 18px;
	outline: 3px double #918474;
	outline-offset: -10px;
}

#bee {
    background-image: url("art/bgbubye.gif");
    background-repeat: repeat-y;
    background-position: top right;
}

#bee .flexreg {
		gap: 18px;
}

#bee .plainbox, #lib .plainbox {
	max-width: 440px;
}

body {
    text-align: center;
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 14px;
    color: #F5FFFC;
    background-color: #545550;
    background-image: url("art/bggray.png");
	background-attachment: fixed;
}

#content {
    margin: 0 0 0 19%;
    padding: 4px 88px;
}

details {
    text-align: left;
    padding: 4px 0;
}

.flexreg {
    display: flex;
    gap: 2px;
    align-items: center;
    margin: 12px auto;
    justify-content: center;
}

.flexwrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#gam summary {
	text-align: center;
}

#gam li {
    list-style-image: url("art/tinblst.gif");
}

h1 {
    background-image: url("art/bgdkblue.png");
    border: 2px dotted #FADA77;
    color: #FADA77;
    margin: 14px auto;
	max-width: fit-content;
	padding: 2px 24px;
	font-size: 20px;
} 

h2 {
	color: #DABBBA;
}

h3 {
	color: #FFC5BB;
}

.hide {
    display: none;
}

.hide:target {
    display: block;
}

#hom .plainbox {
	max-height: 400px;
	overflow-y: auto;
}

hr {
    border: 0;
    margin: 42px auto;
}

iframe {
    border: 1px dotted #FADA77;
    width: 500px;
    height: 280px; 
}

img {
    max-width: 100%;
    vertical-align: middle;
}

#kit summary {
	text-align: center;
}

#kit .flexwrap, #lib .flexwrap {
	gap: 28px;	
}

#kit ol {
    list-style-image: none;
}

#kit ul {
    list-style-image: url("art/tinierpumpkin.png");
}

#lib li {
    list-style-image: url("art/tinybu.gif");
}

#lis .flexwrap {
	gap: 22px;
}

#lis li, #bee li {
    list-style-image: url("art/tinylight.gif");
}

.listbox {
    width: 310px;
    height: 240px;
    overflow-x: hidden;
    border: 2px dotted #FADA77;
    overflow-y: auto;
    padding: 8px;
    background-image: url("art/bgdkblue.png");
}

#mtl img {
	max-width: 70%;
	margin: 60px auto;
	border: 3px double #918474;
	padding: 8px;
	outline: 3px double #918474;
	outline-offset: -10px;
	background-color: #2B1D1D;
}

#nav {
    width: 20%;
    position: fixed;
    height: 100%;
    padding: 44px 2px;
    background-attachment: fixed;
    background-image: url("art/bgcoral.png");
    border-right: 4px dotted #FADA77;
}

#nav a {
    text-decoration: none;
    font-size: 16px;
    padding: 4px 8px;
    background-image: url("art/bgdkblue.png");
    border: 2px dotted #FADA77;
    font-size: 16px; 
    display: block;
    margin: 4px auto;
    height: 36px;
    width: 108px;
    color: #FADA77;
}

.pix {
    flex-shrink: 0;
    padding: 4px;
}

summary {
    cursor: pointer;
    list-style: none;
}

ul {
    text-align: left;
    list-style-image: url("art/tinyshrm.gif");
}

@media only screen and (max-width: 800px) {

    #art img, #pho img, .woods img {
        max-width: 99%;
        margin: 4px auto;
    }

    #content {
        padding: 4px;
        margin: auto;
    }

    .flexreg {
        max-width: 99%;
        gap: 2px;
        margin: 4px auto;
        flex-wrap: wrap;
    }

    .flexwrap {
        flex-wrap: wrap;
        gap: 8px;
        justify-content: center;
    }
	
	#hom .plainbox {
		max-height: fit-content;
	}

    iframe {
        width: 95%;
    }

    .listbox, .plainbox {
        width: fit-content;
        height: auto;
        padding: 1px;
    }

    #nav {
        position: static;
        padding: 2px;
        width: 100%;
        border: 0;
    }

    #nav a {
        display: inline-block;
    }

}