
body {
    margin: 0px;
    }

.banner, .footer {
    visibility: hidden;
    position: absolute;
    top: 0px;
}

.top {
    color: #efad9f;
    font-family: 'Cormorant Garamond', serif;
    font-weight: bold;
    text-align: left;
    font-size: 5vw;
    padding: 1%;
}

a:link, a:visited {
    color: #7d959d;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    color: #efad9f;
    font-weight: bold;
}

a:active {
    color: #efad9f;
    font-weight: bold;
}

.wrapper {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    gap: 1%;
}

.main, .nav {
    font-family: 'Cormorant Garamond', serif;
}
    
.main {
    background-color: white;
    width: 65%;
    padding: 3%;
    color: #14171b;
    font-size: 20px;
}

.artwrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.artwork {
    max-width: 60%;
}

ul {
    list-style-type: none;
}

.nav {
    font-size: 26px;
    width: 25%;
    text-align: left;
    background-color: white;
    padding: 2%;
}

.nav a:link, .nav a:visited, .nav a:active {
    color: rgb(20, 62, 68);
    text-decoration: none;
    margin: 28px;
    font-weight: bold;
}

.nav a:hover {
    color: #efad9f;
    font-weight: bold;
}

@media only screen and (max-width: 700px) {
    .wrapper { 
        display: flex;
        flex-direction: column-reverse;
       }

    .main, .nav {
        width: 90%;
    }
    
    .top {
        font-size: 10vh;
        text-align: center;
    }

    .nav {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
   
    }