* {
    box-sizing: border-box;
}

a, summary {
    color: #FFBBAD;
	text-decoration: underline dotted 1px;
}

a:hover, summary:hover {
	color: #FFE399;
	text-decoration: none;
}

.abinner {
	padding: 38px;
	background-color: #2B1D1D;
	border: 2px dotted #FADA77;
	border-radius: 4px;
	outline: 2px dotted #FADA77;
	outline-offset: -10px;
}

.abo {
	background-image: url("art/bgbluegold.png");
}

.abo, .bee, .hom, .jou, .kit, .lib, .lin, .lis {
	padding: 8% 14%;
}

.art {
	background-image: url("ext/backarc01.png")
}

.art, .pho, .woo {
	padding: 44px;
}

.artimg img, .pho img, .woods img {
	background-color: #1B2B37;
    border: 3px ridge #A04016;
	padding: 6px;
    max-width: 228px;
    margin: 18px;
	outline: 3px ridge #9C6816;
	outline-offset: -8px;
}

.bee {
    background-image: url("art/bgbubye.gif"), url("art/bgtextu.png");
    background-repeat: repeat-y, repeat;
    background-position: top right, top left;
}

.bee details {
	display: inline-block;
	max-width: 300px;
}

.bee summary {
	margin: 36px;
}
.bee .plainbox, .lib .plainbox {
	max-width: 440px;
}

body {
    text-align: center;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;    
	font-size: 14px;
    color: #F5FFFC;
    background-color: #1B2B37;
}

details {
    padding: 4px 0;
}

.flexreg {
    display: flex;
    gap: 2px;
    align-items: center;
    margin: 12px auto;
    justify-content: center;
}

.flexwrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.gam {
	padding: 32px 68px;
}

.gam summary {
	text-align: center;
}

.gam li {
    list-style-image: url("art/tinblst.gif");
}

h1 {
    background-image: url("art/bgdkblue.png");
    border: 1px solid #FADA77;
    color: #FADA77;
    margin: 14px auto;
	max-width: fit-content;
	padding: 2px 24px;
	font-size: 20px;
	border-radius: 3px;
} 

h2 {
	color: #FFDD8B;
}

h3 {
	color: #FFC5BB;
}

.hide {
	display: none;
}

.hide:target {
	display: block;
}

.hom {
	background-color: #554841;
}

hr {
    border: 0;
    margin: 42px auto;
}

iframe {
    border: 1px dotted #FADA77;
    width: 500px;
    height: 280px; 
}

img {
    max-width: 100%;
    vertical-align: middle;
}

.kit summary {
	text-align: center;
}

.kit .flexwrap, .lib .flexwrap {
	gap: 28px;	
}

.kit ul {
    list-style-image: url("art/tinierpumpkin.png");
}

.lib li {
    list-style-image: url("art/tinybu.gif");
}

.lis {
	background-image: url("art/bgnavy.png");
	background-attachment: fixed;
}

.lis .flexwrap {
	gap: 22px;
}

.lis li, .bee li {
    list-style-image: url("art/tinylight.gif");
}

.listbox {
    width: 310px;
    height: 240px;
    overflow-x: hidden;
    border: 2px dotted #FADA77;
    overflow-y: auto;
    padding: 8px;
    background-image: url("art/bgdkblue.png");
}

.mtl {
	padding: 32px;
}

.mtl img {
	max-width: 70%;
	margin: 60px auto;
	border: 3px double #918474;
	padding: 8px;
	outline: 3px double #918474;
	outline-offset: -10px;
	background-color: #2B1D1D;
}

.nav {
    padding: 44px 2px;
	height: 100vh;
	margin: 0;
	background-color: #1B2B37;
}

.nav a {
    font-size: 16px;
	display: block;
}

ol {
    list-style-image: none;
	text-align: left;
}

.pix {
    flex-shrink: 0;
    padding: 4px;
}

.poe {
	background-image: url("ext/rummage01.png")
}

summary {
    cursor: pointer;
    list-style: none;
}

ul {
    text-align: left;
    list-style-image: url("art/tinyshrm.gif");
}
