body {
    background-color: #f0e6e3;
    color: #2a2124;
    font-family: "Ysabeau", sans-serif;
    overflow-x: hidden; /* Hide horizontal scrollbar */
    font-size: 30px;
}

.container {
    display: flex;
    gap: 20px;
    float: right;
    justify-content: center;
    flex-wrap: wrap;
    padding: 50px;
    max-width: 60%;
  }

.nav {
    position: fixed;
    top: 1%;
    left: 3%;
    max-width: 20%;
  }

h1 {
    font-size: 49px;
    text-transform: uppercase;
    letter-spacing: 3px;
    padding: 8px 0px;
    text-shadow: -1px 1px 2px #8ed6ee;
}

ul {
    text-decoration: non;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a:link, a:visited, a:active {
    color: #2a2124;
    text-decoration: none;
    padding: 8px 15px;
}

a:hover {
    color: #8ed6ee;
}

.artwork {
    max-width: 80%;
}

figcaption {
    font-size: 19px;
}


@media only screen and (max-width: 700px) {



.artwork {
    max-width: 100%;
}

ul {
    display: flex;
    flex-wrap: wrap;
}
   
    }