* {
    box-sizing: border-box;
}

a, summary {
    color: #FADA77;
    text-decoration: underline;
    text-decoration-style: dotted;
}

#art img, #pho img, #woo img {
    border: 2px dotted #FADA77;
    max-width: 300px;
    margin: 8px;
    max-height: 380px;
}

body {
    text-align: center;
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 14px;
    color: #faeed8;
    background-color: #545550;
    background-image: url("art/bggray.png");
}

#content {
    margin: 0 0 0 19%;
    padding: 4px 88px;
}

details {
    text-align: left;
    padding: 4px 0;
}

.flexreg {
    display: flex;
    max-width: 580px;
    gap: 2px;
    align-items: center;
    margin: 12px auto;
    justify-content: center;
}

.flexwrap {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
    justify-content: center;
}

#gam li {
    list-style-image: url("art/tinblst.gif");
}

h1, h2 {
    border-bottom: 6px solid transparent;
    border-image: url("art/bgcoral.png") 44 round;
    max-width: fit-content;
    margin: 14px auto;
    color: #E1BEA0;
} 

.hide {
    display: none;
}

.hide:target {
    display: block;
}

hr {
    border: 0;
    margin: 32px auto;
}

iframe {
    border: 1px dotted #FADA77;
    width: 500px;
    height: 280px; 
}

img {
    max-width: 100%;
    vertical-align: middle;
    max-height: 90vh;
}

#kit ol {
    list-style-image: none;
}

#kit ul {
    list-style-image: url("art/tinierpumpkin.png");
}

#lib li {
    list-style-image: url("art/tinybu.gif");
}

.listbox {
    width: 310px;
    height: 240px;
    overflow-x: hidden;
    border: 2px dotted #FADA77;
    overflow-y: auto;
    padding: 8px;
    background-image: url("art/bgdkblue.png");
}

#nav {
    width: 20%;
    position: fixed;
    height: 100%;
    padding: 44px 2px;
    background-attachment: fixed;
    background-image: url("art/bgcoral.png");
    border-right: 4px dotted #FADA77;
}

#nav a {
    text-decoration: none;
    font-size: 16px;
    padding: 4px 8px;
    background-image: url("art/bgdkblue.png");
    border: 2px dotted #FADA77;
    font-size: 16px; 
    display: block;
    margin: 4px auto;
    height: 36px;
    width: 108px;
    color: #FADA77;
}

.pix {
    flex-shrink: 0;
    padding: 4px;
}

.plainbox {
    width: 300px;
}

.plainbox img {
    float: left;
    padding: 8px;
}

summary {
    cursor: pointer;
    list-style: none;
}

ul {
    text-align: left;
    list-style-image: url("art/tinyshrm.gif");
}

@media only screen and (max-width: 800px) {

    #art img, #pho img, #woo img {
        max-width: 99%;
        margin: 4px auto;
    }

    button {
        display: inline;
    }

    #content {
        padding: 4px;
        margin: auto;
    }

    .flexreg {
        max-width: 99%;
        gap: 2px;
        margin: 4px auto;
        flex-wrap: wrap;
    }

    .flexwrap {
        flex-wrap: wrap;
        gap: 8px;
        justify-content: center;
    }

    iframe {
        width: 95%;
        height: auto; 
    }

    .listbox, .plainbox {
        width: fit-content;
        height: auto;
        padding: 1px;
    }

    #nav {
        position: static;
        padding: 2px;
        width: 100%;
        border: 0;
    }

    #nav a {
        display: inline-block;
    }

}