* {
    box-sizing: border-box;
}

a, summary {
    color: #054133;
    text-decoration: underline;
    text-decoration-color: #5f0c08;
    text-decoration-style: dotted;
}

a:hover, summary:hover {
    color: #037057;
    text-decoration: none;
}

#art img, #pho img, #woo img {
    border: 2px dotted #644330;
    max-width: 300px;
    margin: 8px;
    max-height: 380px;
}

body {
    text-align: center;
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 14px;
    color: #232323;
    background-image: url("art/bgtan.png");
}

#content {
    background-image: url("art/bgtan.png");
    margin: 0 16%;
    padding: 4px 88px;
    background-attachment: fixed;
}

details {
    text-align: left;
    padding: 4px 0;
}

.flexreg {
    display: flex;
    max-width: 580px;
    gap: 2px;
    align-items: center;
    margin: 12px auto;
    justify-content: center;
}

.flexwrap {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
    justify-content: center;
}

#gam li {
    list-style-image: url("art/tinblst.gif");
}

h1, h2 {
    border-bottom: 8px solid transparent;
    border-top: 8px solid transparent;
    border-image: url("art/bgtree.png") 44 round;
    max-width: fit-content;
    margin: auto;
} 

.hide {
    display: none;
}

.hide:target {
    display: block;
}

hr {
    border: 0;
    margin: 32px auto;
}

iframe {
    border: 1px solid #064568;
    width: 500px;
    height: 280px; 
}

img {
    max-width: 100%;
    vertical-align: middle;
    max-height: 90vh;
}

#kit ol {
    list-style-image: none;
}

#kit ul {
    list-style-image: url("art/tinierpumpkin.png");
}

#lib li {
    list-style-image: url("art/tinybu.gif");
}

.listbox {
    width: 310px;
    height: 240px;
    overflow-x: hidden;
    border: 2px dotted #644330;
    overflow-y: auto;
    padding: 8px;
}

#nav {
    border-right: 100px solid transparent;
    border-image: url("art/boredleaves.png") 100 round;
    border-image-outset: 50px;
    width: 16%;
    position: fixed;
    height: 100%;
    padding: 44px 2px;
    background-attachment: fixed;
    background-image: url("art/bgtree.png");
}

#nav a {
    text-decoration: none;
    font-size: 16px;
    margin: 2px;
    padding: 4px 8px;
    background-image: url("art/bgtan.png");
    border: 2px dotted #644330;
    font-size: 16px; 
    display: block;
    margin: 4px auto;
    height: 32px;
    width: 100px;
}

.pix {
    flex-shrink: 0;
    padding: 4px;
}

.plainbox {
    width: 300px;
}

.plainbox img {
    float: left;
    padding: 8px;
}

#right {
    border-left: 100px solid transparent;
    border-image: url("art/boredleaves.png") 100 round;
    border-image-outset: 32px;
    max-width: 16%;
    right: 0;
    top: 0;
    height: 100%;
    min-width: 16%;
    background-attachment: fixed;
    background-image: url("art/bgtree.png");
    position: fixed;
}

summary {
    cursor: pointer;
    list-style: none;
}

ul {
    text-align: left;
    list-style-image: url("art/tinyshrm.gif");
}

.updates {
    border: 18px solid transparent;
    border-image: url("art/bortreeround.png") 32 round;
}

@media only screen and (max-width: 800px) {

    #art img, #pho img, #woo img {
        max-width: 99%;
        margin: 4px auto;
    }

    button {
        display: inline;
    }

    #content {
        padding: 4px;
        margin: auto;
    }

    .flexreg {
        max-width: 99%;
        gap: 2px;
        margin: 4px auto;
        flex-wrap: wrap;
    }

    .flexwrap {
        flex-wrap: wrap;
        gap: 8px;
        justify-content: center;
    }

    iframe {
        width: 95%;
        height: auto; 
    }

    .listbox, .plainbox {
        width: fit-content;
        height: auto;
        padding: 1px;
    }

    #nav, #right {
        position: static;
        padding: 2px;
        width: 100%;
        border: 0;
    }

    #nav li {
        display: inline-block;
    }

}