* {
    box-sizing: border-box;
}

a, summary {
    color: #064568;
    text-decoration: underline;
    text-decoration-color: #154f6e;
    text-decoration-style: dotted;
}

a:hover, summary:hover {
    color: #035d8d;
    text-decoration: none;
}

#art img, #pho img {
    border: 4px solid #B2A37A;
    max-width: 380px;
    margin: 20px;
    max-height: 440px;
}

body {
    background-image: url("art/bgblue.png");
    text-align: center;
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 14px;
    color: #192028;
    background-attachment: fixed;
}

button {
    margin: 2px;
    padding: 4px 8px;
    background-image: url("art/bgleaves.jpg");
    border: 2px solid #B2A37A;
    font-size: 16px; 
    display: block;
    margin: 4px auto;
}

#content {
    background-image: url("art/bgwhite.jpg");
    margin-left: 18%;
    padding: 4px 128px;
}

details {
    text-align: left;
    padding: 4px 0;
}

.flexreg {
    display: flex;
    max-width: 580px;
    gap: 2px;
    align-items: center;
    margin: 12px auto;
    justify-content: center;
}

.flexwrap {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
    justify-content: center;
}

#gam li {
    list-style-image: url("art/tinblst.gif");
}

h1, h2 {
    border-bottom: 12px solid transparent;
    border-image: url("art/borderstround.png") 50 round;
    max-width: fit-content;
    margin: auto;
} 

.hide {
    display: none;
}

.hide:target {
    display: block;
}

hr {
    border: 0;
    margin: 32px auto;
}

iframe {
    border: 1px solid #064568;
    width: 500px;
    height: 280px; 
}

img {
    max-width: 100%;
    vertical-align: middle;
    max-height: 90vh;
}

#kit ol {
    list-style-image: none;
}

#kit ul {
    list-style-image: url("art/tinierpumpkin.png");
}

#lib li {
    list-style-image: url("art/tinybu.gif");
}

.listbox {
    width: 340px;
    height: 260px;
    overflow-x: hidden;
    border: 4px solid #B2A37A;
    overflow-y: auto;
}

#mtl img, #woo img {
    border: 3px solid #B2A37A;
}

#nav {
    border-right: 30px solid transparent;
    border-image: url("art/borderstick.png") 50 round;
    border-image-outset: 18px;
    max-width: 18%;
    position: fixed;
    height: 100%;
    padding: 44px;
    min-width: 18%;
}

#nav a {
    color: #dbd2b8;
    text-decoration: none;
    font-size: 14px;
}

#nav a:hover {
    color: #ffbb54;
}

.pix {
    flex-shrink: 0;
    padding: 4px;
}

summary {
    cursor: pointer;
    list-style: none;
}

ul {
    text-align: left;
    list-style-image: url("art/tinyshrm.gif");
}

#woo img {
    margin: 8px;
    max-width: 240px;
}

@media only screen and (max-width: 800px) {

    #art img {
        max-width: 99%;
        margin: 4px auto;
    }

    button {
        display: inline;
    }

    #content {
        padding: 2px;
        margin-left: auto;
    }

    .flexreg {
        max-width: 99%;
        gap: 2px;
        margin: 4px auto;
        flex-wrap: wrap;
    }

    .flexwrap {
        flex-wrap: wrap;
        gap: 8px;
        justify-content: center;
    }

    iframe {
        width: 95%;
        height: auto; 
    }

    .listbox {
        width: fit-content;
        height: auto;
    }

    #nav {
        max-width: fit-content;
        position: static;
        padding: 2px;
    }

    #woo img {
        max-width: 99%;
    }

}