
* {
    box-sizing: border-box;
}
a {
    color: #f5eea8;
    text-decoration: none;
}
a:hover {
    text-decoration: underline dashed;
    color: #FDD7C6;
}

.animals {
    display: flex;
    justify-content: center;
    width: 66%;
    align-items: center;
    margin: 18px auto;
}
#art img {
    margin: 14px;
    border: 4px ridge;
    max-width: 45%;
}

#bee strong {
    color: #FDD7C6;
}
.beerdesc {
    width: 70%;
    padding: 3%;
}
.beers {
    display: flex;
    border: 1px dashed #FDD7C6;
    margin: 18px auto;
    justify-content: center;
    width: 68%;
    align-items: center;
}
.beerpix {
    flex-shrink: 0;
    padding: 2%;
}

body {
    overflow: hidden;
    background-image: url("art/bgflwer.jpg");
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    background-color: #ECD4A6;
    background-repeat: no-repeat;
}
.container {
    display: flex;
    justify-content: center;
    overflow: hidden;
    height: 90vh;
    margin: 2% 15%;
    background-color: #2E2C27;
    border: 1px dashed #F8FBFC;
    color: #F8FBFC;
    background-image: url("art/bgdkflwer.jpg");
    background-attachment: fixed;
}

.content {
    width: 64vw;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 4% 6%;
}

.foodlists {
    display: flex;
    justify-content: center;
    gap: 18px;
}

.flist {
    border: 1px dashed #FFE970;
    padding: 3%;
}

h1, h2, h3 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    color: #FDD7C6;
}
.hide {
    display: none;
    margin: 100px auto;
}
.hide:target {
    display: block;
}

#hom em {
    color: #B0BFD1;
}
#hom li {
    list-style-image: url(art/tinblst.gif);
}
hr {
    border-top: 1px dashed #342E0C;
    border-bottom: 0;
    margin: 40px auto;
    max-width: 300px;
}

img {
    max-width: 90%;
    vertical-align: middle;
}

#kit li {
    list-style-image: url("art/tinierpumpkin.png");
}
#lin li {
    list-style-image: url("art/lilflo.gif");
}

#lib strong, em {
    color: #EBD3A5;
}

.listholder {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 12px;
}
.lists {
    border: 1px dashed #E6A36F;
    padding: 2%;
}

.lists li {
    list-style-image: url("art/tinylight.gif");
}

.nav {
    max-height: 90vh;
    overflow-y: auto;
    overflow-x: hidden;
    min-width: 22%;
    padding: 4%;
}

.nav li {
    list-style-type: none;
}

summary {
    cursor: pointer;
    color: #ecf7d3;
    text-align: left;
    margin: 2px auto;
}
summary:hover {
    text-decoration: underline dashed;
    color: #FDD7C6;
}

ul {
    text-align: left;
}

.woods {
    max-width: 25%;
    margin: 12px;
    border: 4px ridge;
}

@media only screen and (max-width: 800px) {
    .beerdesc {
        width: 100%;
    }
    .beers, .animals {
        flex-wrap: wrap;
    }
    body {
        overflow: auto;
    }
    .container {
        flex-wrap: wrap;
        overflow-y: auto;
        margin: 0;
        height: auto;
        width: auto;
    }
    .content {
        width: 100vw;
    }
    .nav li {
        display: inline;
        min-width: none;
    }
}
